* {
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: "Lato PC", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 20px;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: red;
  /* text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.6); */
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.Navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.Links {
  padding: auto;
  display: flex;
  margin: auto;
  text-align: center;
  padding: 14px 16px;
}
.NavButton {
  padding: auto;
  display: flex;
  margin: auto;
  text-align: center;
  padding: 14px 16px;
}
.logo {
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
}
.Hamburger {
  display: none;
}

.openMenu {
  position: absolute;
  top: 20px;
  z-index: 2;
  width: 100vw;
  height: 50vh;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .Links {
    display: none;
  }
  .Links-is-open {
    display: block;
    /* flex-direction: column; */
    color: rgb(255, 255, 255);
  }
  .Links-closed {
    display: none;
  }
  .logo {
    display: flex;
    margin-right: auto;
  }
  .Hamburger {
    display: flex;
    margin-left: auto;
  }
}
