* {
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  font-family: "Lato PC", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: red;
  /* text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.6); */
}
.App {
  text-align: center;
  height: 100vh;
}
.Navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;

  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.Navbar a {
  padding: auto;
  display: flex;
  margin: auto;
  text-align: center;
  padding: 14px 16px;
}
.logo {
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
}
.Hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .Navbar a {
    display: none;
  }
  .logo {
    display: flex;
    margin-right: auto;
  }
  .Hamburger {
    display: flex;
    margin-left: auto;
  }
}
